* {
  box-sizing: border-box;

}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

input {
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  position: relative;
  margin: 0;
}

nav, footer {
  background-color: #000;
  color: #eee;
}

section {
  min-height: 200px;
  padding-top: 20px;
  color: #eee;
}

section:nth-child(even) {
  background-color: #e6f9e6;
  color: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* NAV */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav-mobile {
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

@media only screen and (min-width: 550px) {
  .nav-mobile {
    display: none;
  }
}

.nav-desktop {
  display: none;
}
@media only screen and (min-width: 550px) {
  nav {
    display: flex;
    justify-content: flex-end;
  }
  .nav-desktop {
    display: flex;
    justify-content: space-around;
    width: 40%;
    cursor: pointer;
  }
}

/*HEADER*/
header {
  padding: 50px;
  margin-top: 70px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #eee;
}

#myVideo {
  position: fixed;
  object-fit: ;
  right: 0;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
}

.my-name {
  color: #29a329;
}

/* ABOUT */
.icon-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 75%;
  margin: 20px auto;
  font-family: 'Gentium Basic', serif;
}

@media only screen and (min-width: 550px) {
  .icon-row {
    width: 100%;
    justify-content: space-around;
    padding: 55px 0;
  }
}

.icon {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  height: 100px;
  width: 100px;
  border-radius: 85px;
  font-size: 30px;
}

.about-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-column {
  padding: 20px 40px;
  font-size: 18px;
  font-family:'Gentium Basic', serif;
}

.about-column:last-child {
  padding-bottom: 40px;
}

.about-column img {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 85px;
}

@media only screen and (min-width: 550px) {
  .about-row {
    flex-direction: row;
    width: 100%;
  }
  .about-column {
    width: 50%;
    padding: 60px;
  }
  .about-column:last-child {
    padding-bottom: 90px;
  }
  .about-column img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
  }
}

/* PROJECTS */
.my-projects {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  font-family:'Gentium Basic', serif;
}

.project {
  margin: 20px;
  font-size: 16px;
  border: 1px solid black;
  min-height: 200px;
  background-color: #e6f9e6;
  color: #000;
}

.project-links {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 550px) {
  .my-projects {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 60px;
  }
  .project {
    width: 33%;
    margin: 0;
    padding: 30px;
  }
}

/*CONTACT */
.contact {

}

.contact-form {
  display: inline-block;
  margin: 40px auto;
}

.contact-form input {
  min-width: 350px;
  line-height: 2.5;
  margin: 5px 0;
}

textarea {
  min-width: 350px;
}

input.form-button {
  display: block;
  min-width: 0;
  background: #fff;
}





/* FOOTER */
.footer-wrapper{
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}
@media only screen and (min-width: 550px) {
  .footer-wrapper{
    justify-content: flex-end;
  }
  .links {
    margin-left: 30px;
  }
